.custom-width{
	max-width:100%;
}
.topRow{
	padding-top:0;
	margin-left: -15px;
	margin-right: -15px;
}
.eventsection{
	max-height: 550px;
}

.logout-btn{
    background-color: transparent;
    border:none;
}
.logout-btn:active{
    border: none;
}
.navbar-inverse .navbar-nav > li > a{ /* navbar font*/
    color: #ffffff;
    font-family: 'Sansita', sans-serif; /* to be paired with Open-sans*/
}
.side-content ul{
	list-style: none;
    padding-left: 0;
}
.side-content ul li{
    padding: 10px 15px;
}
.side-content ul li a{
	color: #FFFFFF;
	text-decoration: none;
	padding:10px 15px;
	font-family: Sansita, sans-serif;
}
.side-content ul li:hover{
    background-color: #0f0f0f;
    border-left: 5px solid #289fd6;
}

/****/
.top-pad{
	padding: 10px;
}
.image-box{
	background-color: springgreen;
	height: auto;
	border-radius: 8px;
}
.roles{
	background-color: #eeeeee;
	border-bottom-right-radius: 5px;
	border-bottom-left-radius: 5px;
	height:120px;
}
.roles > p{
	margin-bottom: 4px;
}
.roles > p:first-child{
	font-size: 20px;
	font-weight: bold;
	padding-top: 5px;
	/*height: 120px;*/
}
.roles > p:last-child{
	padding-bottom: 5px;
}

/*dashboard*/
.admin-dashboard-item{
	height:150px;
	/*background-color: red;*/
	margin-bottom: 30px;
	box-shadow: 1px 2px 4px rgba(255,255,255,0.2);
	border-radius: 5px;
	font-family: Sansita, sans-serif;
}
.admin-icon{
	font-size: 66px;
	position: absolute;
	left: 35px;
	top:35px;
}
.admin-number{
	font-size: 54px;
	position: absolute;
	right: 27px;
	top:35px;
}
.no-pad{
	padding-right: 0;
	padding-left: 0;
}
.bg-red{background-color: #ff8800;color: white;}
.bg-blue{background-color: #2a9fd6;color: white;}
.bg-white{background-color: #ffffff;color: grey;}
.bg-green{background-color: springgreen;color: white;}